<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/deerblue.ico') }}">

    <title>DeerHunt 2018</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.6.3/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>

  </head>

  <body>
    <div>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <div id="notification-bar">{{ message }}</div>
      {% endfor %}
      {% endif %}
      {%  endwith %}
    </div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">DeerHunt II</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-right">
            <li class="nav-btn about"><a href="#" onclick="scrollingTo('#about')">About</a></li>
            <li class="nav-btn"><a href="#" onclick="scrollingTo('#faq')">FAQ</a></li>
            <li class="nav-btn"><a href="#" onclick="scrollingTo('#contact')">Contact</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    
    
    <section class="anchor" id="intro">
      <div class="jumbotron">
        <div class="container">
          <div class="col-sm-6">
            <img src="{{ url_for('static', filename='images/deerblue.png') }}" class="img-responsive" alt="deerlogo"></div>
          <div class="col-sm-6 testing">
            <img src="{{ url_for('static', filename='images/deerblue.png') }}" class="mobile-logo" alt="deerlogo"></div>
          <div id="main-title" class="font-norm">DeerHunt II <span class="font-light">2018</span></div>
          <div id="sub-title" class="font-light">oDeer();</div>
	  <a class="btn btn-default register-btn" href="/register">Register Now</a>
        </div>

      </div>
</div>
</section>

<section class="anchor" id="about">

  <div class="container">
    <h3 class="font-heavy">About <span class="font-light" style="font-size: 20px;"> | What's DeerHunt II?</span></h3>
    <div class="row" style="margin-top: 30px;">
      <div class="col-sm-12">
        <p class="font-norm">DeerHunt II is a programming competition presented by the University of Toronto Mississauga's Mathematics and Computational Sciences Society (UTM MCSS), from January 27th - 28th!</p>
        <p class="font-norm">Participants will be using a variety of different computer science, math and stats skills to progress though challenging problems</p>
      </div>
    </div>
  </div>
</section>

<!--<section id="schedule">
    <div class="container">
      <h3 class="font-heavy">Schedule <span class="font-light" style="font-size: 20px;"> | All Planned</span> </h3>
      <div class="col-sm-12">
        <li class="sched-day"><b>Day 1</b>
          <ul id="schedule">
            <li>9am something first</li>
            <li>12pm something second</li>
            <li>3pm something third</li>
            <li>6pm donezo</li>
          </ul>
        </li>

        <li class="sched-day"><b>Day 2</b>
          <ul id="schedule">
            <li>9am something first</li>
            <li>12pm something second</li>
            <li>3pm something third</li>
            <li>6pm donezo</li>
          </ul>
        </li>

        <li class="sched-day"><b>Day 3</b>
          <ul id="schedule">
            <li>9am something first</li>
            <li>12pm something second</li>
            <li>3pm something third</li>
            <li>6pm donezo</li>
          </ul>
        </li>
      </div>
    </div>
</section>-->

<section class="anchor" id="faq">
  <div class="container">
    <h3 class="font-heavy">FAQ <span class="font-light" style="font-size: 20px;"> | Get your questions answered</span></h3>

    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <div class="teal-box">
          <b class="question">Who can participate?</b>
          <div class="faq-content">
            <p class="answer">Any post secondary students are welcome to attend DeerHunt II, unfortunately we are not able to accept high school students at this time.</p>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="teal-box">
          <b class="question">How much does it cost to attend?</b>
          <div class="faq-content">
	    <p class="answer">Admission is completely free. We'll also be providing food and accommodations for the entire event!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <div class="teal-box">
          <b class="question">Can I work in a group?</b>
          <div class="faq-content">
            <p class="answer">Yes! You can have up to 3 members in your group! We recommend you have a "well rounded" group, incorporating students from computer science, math and stats!</p>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="teal-box">
          <b class="question">Is this a hackathon?</b>
          <div class="faq-content">
	    <p class="answer">Nope! You will be working on problems in math, stats and computer science. The team with the highest score wins.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="teal-box">
          <b class="question">When is it?</b>
          <div class="faq-content">
	    <p class="answer">Overnight, beginning Saturday January 27th at 4pm, and ending on Sunday January 28th at 12pm.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 centered"> 
    <h4 class="font-light" style="color:white">Have more questions? Email us at deerhunt@utmmcss.com</h4>
  </div>
</div>

</section>

<section class="anchor" id="contact">
  <div class="container">
    <h3 class="font-heavy">Contact Us <span class="font-light" style="font-size: 20px;"> | Need help?</span></h3>
    <div class="col-sm-12 centered"> 
      <a href="https://twitter.com/utmmcss?lang=en"><i class="icon fa fa-twitter fa-3x"></i></a>
      <a href="https://www.facebook.com/events/392397987862565/"><i class="icon fa fa-facebook-official fa-3x"></i></a>
      <a href="mailto:deerhunt@utmmcss.com"><i class="icon fa fa-envelope fa-3x"></i></a>
    </div>
    
  </div>
</section>

<footer>
  <div class="container">
    Made with love by the MCSS
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
